.google-auth-button {
	background: inherit;
}

.google-auth-button img {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.google-auth-button:hover,
.google-auth-button:focus-visible {
	transform: scaleY(1.05);
	transform: scaleX(1);
}

/* *********** 
 Media Queries 
 *************/
@media (min-width: 769px) {
	.google-auth-button {
		background: #fff;
		color: #000000;
	}

	.google-auth-button:hover,
	.google-auth-button:focus-visible {
		background: #ffe96c;
	}

	.google-auth-button:hover,
	.google-auth-button:focus-visible {
		transform: scale(1.05);
	}
}
