header {
	background: radial-gradient(
		316.37% 2315.5% at 0% 50%,
		#000000 0%,
		#ffffff 100%
	);

	width: 100%;
	color: white;
	position: fixed;
	z-index: 10;
	display: flex;
	flex-direction: column;
}

/* Nav First/Left Styles */
.nav-first .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}

.brand-name {
	text-transform: uppercase;
	color: rgb(245, 121, 59);
	font-size: 1.2rem;
	letter-spacing: 2px;
	background: rgb(245, 121, 59);
	background: linear-gradient(
		90deg,
		rgba(245, 121, 59, 1) 0%,
		rgba(245, 170, 85, 1) 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.brand-image {
	max-height: 40px;
}

.menu-button {
	display: flex;
	align-items: center;
}

.menu-label {
	text-transform: uppercase;
	font-size: 1rem;
}

.menu-icon {
	height: 20px;
	width: 20px;
	background-image: url(/src/assets/menu.png);
	background-size: cover;
	margin-left: 5px;
	-webkit-transition: background-image 0.5s ease-out;
	transition: background-image 0.5s ease-out;
}

.menu-button.open .menu-icon {
	background-image: url(/src/assets/cancel.png);
}

/* Navigation Menu */
.nav-menu {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	background-color: rgb(255 247 240);
	box-shadow: 0px 1px 3px 0 rgba(143, 66, 0, 0.5);
}

.nav-menu.open {
	max-height: 500px;
}

.nav-link-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-link {
	text-align: center;
	padding: 10px 0;
	width: 90%;
	border-bottom: 1px solid #d7d7d7;
}

.nav-link a {
	color: #333;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.nav-link.selected a {
	color: #f5793b;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-button {
	padding: 0;
	width: 100%;
}

.nav-button button {
	width: 100%;
	justify-content: center;
}

.cart-item-count {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: red;
	color: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 0.875rem;
	margin: 0 5px;
}

/* *********** 
 Media Queries 
 *************/
@media (min-width: 769px) {
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.menu-button {
		display: none;
	}

	.nav-link-container {
		flex-direction: row;
		gap: 40px;
		padding: 10px 30px;
	}

	.nav-menu {
		max-height: none;
		background-color: inherit;
		box-shadow: none;
		display: flex;
		align-items: center;
	}

	.nav-link,
	.nav-button {
		border-bottom: none;
		width: auto;
	}

	.nav-link a {
		color: white;
	}

	.nav-link {
		padding: 0;
	}
}
