.checkout-button,
.place-order-button {
	width: 100%;
	background-color: #333;
	color: #f7f7f7;
}

.checkout-button:hover,
.checkout-button:focus,
.place-order-button:hover,
.place-order-button:focus {
	background-color: #f4a540;
	color: #000000;
}

.text-separator {
	text-align: center;
	position: relative;
	font-size: 0.875rem;
}

.text-separator span {
	padding: 5px;
	z-index: 2;
	background-color: #eeeeee;
	position: relative;
}

.text-separator:after {
	content: '';
	width: 100%;
	background-color: transparent;
	display: block;
	height: 1px;
	border-top: 1px solid #bbb;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	z-index: 1;
}

.summary-item-table {
	font-size: 1rem;
}

.summary-item-table thead {
	text-align: left;
}

.summary-item-table th,
.summary-item-table td {
	padding: 0.1rem 0;
}

.item {
	font-style: italic;
	text-transform: capitalize;
}

.item-quantity {
	font-style: normal;
	text-transform: none;
}
