.add-to-cart-button {
	background-color: #f4a540;
	color: #000000;
}

.remove-from-cart-button {
	background-color: #fff;
	color: #000000;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus-visible,
.remove-from-cart-button:hover,
.remove-from-cart-button:focus-visible {
	background-color: #333;
	color: #f7f7f7;
}

.product-cart-status {
	display: flex;
	align-items: center;
	gap: 10px;
}
