* {
	font-family: Roboto, sans-serif;
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 75%;
}

a:focus {
	outline: transparent;
	border: 2px solid rgb(245, 121, 59);
	border-radius: 5px;
}
